@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 500;
}

body{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 100%;
    background-image: linear-gradient(179.98deg, #B224EF 0.01%, #7579FF 99.99%), linear-gradient(179.98deg, #560E9E 0.01%, #511085 46.36%, #43A316 99.99%);
    background-blend-mode: lighten;
    background-attachment: fixed;
    margin: 0px;
}

.titulo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 38px;
    color: rgb(255, 255, 255);
    font-size: 15pt;
    
}

.caixa {
    width: 907px;
    height: 583px;
    left: 266px;
    top: 212px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
    border-radius: 19px;
    margin: auto;
    padding: 30px;
}

h2.titulo-da-interface{
    display: flex;
    justify-content: center;
    font-size: 25pt;
    margin-bottom: 5px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

p.titulo-da-interface{
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    
    color: #000000;
    
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

p.data-intedace{
    text-align: center;
    color: rgba(0, 0, 0, 0.46);
    margin-bottom: 38px;
}

.habitos{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin: 76px 0px;
    font-size: 13pt;
    margin-bottom: 230px;
    margin-top: 0px;
    box-sizing: border-box;
}

.habitos p{
    margin: 10px 60px;

}

.butAddHabito{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 30px;
}

.btn-add-habito{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    cursor: pointer;
    user-select: none;
    color: #a3a3a3;

    background: white;
    padding: 2px 35px;
    border-radius: 15px;
}

.status {
    font-size: 16pt;
    display: flex;
    align-content: flex-end;
    justify-content: space-evenly;

}

.status-das-tarefas{
    padding: 5px 85px;
    color: white;
    background: #7630BB;
    border-radius: 15px;
    text-align: center;
    border-radius: 40px; 
    font-size: 13pt;   
}